
.container{
	border: 3px solid #ddd;
	width: 40%;
	margin-top: 100px;
}

 .division ::before {
    content: "";
    display: block;
    width: 220px;
    background-color: #e1e1e1;
    height: 3px;
}

.division ::after {
    content: "";
    display: block;
    width: 220px;
    background-color: #e1e1e1;
    height: 3px;
}

.row {
	text-align: center;
}

